/*** sectioning elements ***/

body {

}

header {
background-color:#d82529
}
font-family: 'Oswald', sans-serif;


main {
background-color:#cccccc
}

footer {
background-color:#070007
}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
